/* Text styles */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-tertiary {
  color: var(--tertiary-color);
}

.text-success {
  color: var(--success-color);
}

/* Buttons and Backgrounds */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2rem;
  color: var(--light-color);
  background: var(--primary-color);
  border: none;
  border-radius: 0.5rem;
}

.btn:hover {
  color: var(--primary-color);
  opacity: 0.7;
  border: var(--primary-color) 0.1rem solid;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: var(--light-color);
}

.btn-secondary,
.bg-secondary {
  background: var(--secondary-color);
  color: var(--light-color);
}

.btn-tertiary,
.bg-tertiary {
  background: var(--tertiary-color);
  color: var(--light-color);
}

.btn-dark,
.bg-dark {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn-gray,
.bg-gray {
  background: var(--gray-color);
  color: var(--light-color);
}

.btn-light,
.bg-light {
  background: var(--light-color);
  color: var(--dark-color);
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--light-color);
}

/* Flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div {
  padding: 2rem;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 3rem;
}

.flex-columns h3 {
  font-size: 3rem;
  font-weight: 100;
}

.flex-columns p {
  margin: 2rem 0;
}

/* Section header */
.section-header {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h3 {
  font-size: 3rem;
  margin: 2rem 0;
}

.section-padding {
  padding: 2rem 2rem 4rem;
}

/* Flex grid */
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.4rem;
  max-height: 23vh;
  overflow: hidden;
}

.flex-grid .column {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 0.4rem;
  margin: 0.4rem 0;
}

.flex-grid .column img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
